{namespace map=Tx_EasyGooglemap_ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />

	<div id="tx_easy_googlemap" style="height: {settings.height}; width: {settings.width};"></div>

	<map:pageRenderer.addJsFooterInlineCode name="easy_googlemap">
		jQuery(document).ready(function() {
			var settings = {
				saturation: 		 <f:format.raw value="{settings.saturation}" />,
				gamma: 				 <f:format.raw value="{settings.gamma}" />,
				fadeOutCats: 		"<f:format.raw value="{settings.fadeoutcats}" />",
				centerMapLatitude:  "<f:format.raw value="{settings.centerMapLatitude}" />",
				centerMapLongitude: "<f:format.raw value="{settings.centerMapLongitude}" />",
				zoom: 				 <f:format.raw value="{settings.zoom}" />,
				mapTypeId: 			 google.maps.MapTypeId.ROADMAP,
				anchorPositionX: 	 <f:format.raw value="{settings.anchorpositionx}" />,
				anchorPositionY: 	 <f:format.raw value="{settings.anchorpositiony}" />
			};

			var locations = [];
			
			<f:for each="{locations}" as="location">
				var location = {
					title: "<f:format.raw value="{location.title}" />",
					latitude: parseFloat("<f:format.raw value="{location.latitude}" />"),
					longitude: parseFloat("<f:format.raw value="{location.longitude}" />"),
					link: "<f:format.raw value="{location.link}" />",
					icon: "uploads/tx_easygooglemap/" + "<f:format.raw value="{location.icon}" />",
					clickable: true
				};
				location.position = new google.maps.LatLng(location.latitude, location.longitude);
				locations.push(location);
			</f:for>
			
			if(locations.length > 0) {
				if(settings.centerMapLatitude == "") settings.centerMapLatitude = locations[0].latitude;
				if(settings.centerMapLongitude == "") settings.centerMapLongitude = locations[0].longitude;
			}
			

			var mapOptions = {
				center: {
					lat: settings.centerMapLatitude,
					lng: settings.centerMapLongitude
				},
				zoom: settings.zoom,
				mapTypeId: settings.mapTypeId,
				styles: [
					{
						stylers: [
							{ saturation: settings.saturation },
							{ gamma: settings.gamma }
						]
					},
					{
						featureType: settings.fadeOutCats,
						stylers: [
							{ "visibility": "off" }
						]
					}
				]
			};

			var map = new google.maps.Map(document.getElementById("tx_easy_googlemap"), mapOptions);

			var markers = [];
			var bounds = new google.maps.LatLngBounds();

			locations.forEach(function(location) {
				var marker = new google.maps.Marker({
					map: map,
					position: location.position,
					clickable: location.clickable,
					url: location.link,
					icon: {
						url: location.icon,
						anchor: new google.maps.Point(settings.anchorPositionX, settings.anchorPositionY)
					}
				});

				markers.push(marker);

				infobox = new InfoBox({
					content: location.title,
					disableAutoPan: false,
					pixelOffset: new google.maps.Size(15, -20),
					infoBoxClearance: new google.maps.Size(1, 1),
					closeBoxMargin: "-10px -60px 10px 10px"
				}).open(map, marker);
				
				new google.maps.event.addListener(marker, 'click', function() {
					window.open(marker.url);
				});
				
				bounds.extend(location.position);
			});
			
			if(markers.length > 1) {
				map.fitBounds(bounds);
			}
		});
	</map:pageRenderer.addJsFooterInlineCode>
</f:section>