<label for="title">
	<f:translate key="tx_easygooglemap_domain_model_location.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="longitude">
	<f:translate key="tx_easygooglemap_domain_model_location.longitude" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="longitude" /><br />
<label for="latitude">
	<f:translate key="tx_easygooglemap_domain_model_location.latitude" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="icon">
	<f:translate key="tx_easygooglemap_domain_model_location.icon" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="icon" /><br />
<label for="link">
	<f:translate key="tx_easygooglemap_domain_model_location.link" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="link" /><br />