<table class="tx-easy-googlemap" >
	<tr>
		<td>
			<f:translate key="tx_easygooglemap_domain_model_location.title" />
		</td>
		<td>
			{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easygooglemap_domain_model_location.longitude" />
		</td>
		<td>
			{location.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easygooglemap_domain_model_location.latitude" />
		</td>
		<td>
			{location.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easygooglemap_domain_model_location.icon" />
		</td>
		<td>
			{location.icon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easygooglemap_domain_model_location.link" />
		</td>
		<td>
			{location.link}
		</td>
	</tr>
</table>